--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.2.2+cpu
torchvision==0.17.2+cpu

segmentation-models-pytorch==0.3.4
albumentations==1.4.24
opencv-python-headless==4.10.0.84
numpy==1.26.4
streamlit==1.41.1
